:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --primary-color: #ffffff;
  --description-text-color: #757575;
  --hero-title-background-color: #2f303a;
  --sections-background-color: #f5f4fa;
  --logo-link-clr: #000000;
  --footer-text-clr: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Components*/

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-link-clr);
}

.logo-first-word {
  color: var(--accent-color);
}

.img-description {
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-text-color);
}

.menu-item {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*Header*/

.menu-link {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  color: var(--description-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/*Hero section*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--hero-title-background-color);
}

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--hero-title-background-color);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/*Benefits*/

.benefits-title {
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-description {
  line-height: 1.71;
  color: var(--description-text-color);
}

/*Team section*/

.our-team-section {
  background-color: var(--sections-background-color);
}

/*Footer*/

.footer-section {
  background-color: var(--hero-title-background-color);
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-color);
}

.adress {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-color);
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-clr);
}

/*portfolio styles*/
.nav-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--sections-background-color);
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
